
bin/Debug/AppFrameworkCommonErpPlugin.dll
AppFrameworkCommonErpPlugin.v12.suo
AppFrameworkCommonErpPlugin.v12.suo
bin/Debug/AppFrameworkCommonErpPlugin.dll
bin/Debug/AppFrameworkCommonErpPlugin.pdb
obj/Debug/AppFrameworkCommonErpPlugin.csproj.FileListAbsolute.txt
obj/Debug/AppFrameworkCommonErpPlugin.csprojResolveAssemblyReference.cache
obj/Debug/AppFrameworkCommonErpPlugin.csprojResolveAssemblyReference.cache
obj/Debug/AppFrameworkCommonErpPlugin.dll
obj/Debug/AppFrameworkCommonErpPlugin.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/AppFrameworkCommonErpPlugin.pdb
obj/Debug/AppFrameworkCommonErpPlugin.dll
obj/Debug/AppFrameworkCommonErpPlugin.csprojResolveAssemblyReference.cache
obj/Debug/AppFrameworkCommonErpPlugin.csproj.FileListAbsolute.txt
bin/Debug/AppFrameworkCommonErpPlugin.pdb
bin/Debug/AppFrameworkCommonErpPlugin.dll
